services:
  chrome:
    image: zenika/alpine-chrome:124-with-chromedriver
    restart: unless-stopped
    stop_grace_period: 1s
    # Only required for local development.
    # ports:
    #   - "9515:9515"
    # command:
    #   - --log-level=INFO

  fetcher:
    image: ghcr.io/agross/techem-mieterportal-influxdb-fetcher
    pull_policy: never
    build:
      context: fetcher
    env_file: .env
    depends_on:
      chrome:
        condition: service_started
